<h4 class="text-left">Filtrer les sites</h4>

{{ form_start(formSearch) }}

    <div class="d-flex flex-row flex-align-center p-2">
        <div>
            {{ form_widget(formSearch) }}
        </div>
        <div class="p-2">
            <button type="submit" class="btn button primary outline"><span class="mif-search mif-2x fg-green p-2"></span>Rechercher</button>
        </div>
    </div>


{{ form_end(formSearch) }}