{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="p-2">
        <button class="btn button"><span class="mif-checkmark mif-2x fg-green p-2"></span>{{ button_label|default(' Valider') }}</button>
    </div>
{{ form_end(form) }}
