{% extends 'layouts/base.html.twig' %}

{% block title %}New Sites{% endblock %}

{% block body %}
    <h1>Create new Sites</h1>

    {{ include('sites/_form.html.twig') }}

    <a href="{{ path('app_sites') }}">back to list</a>
{% endblock %}
