<form method="post" 
action="{{ path('app_sortie_delete', {'noSortie': sorty.noSortie}) }}" 
onsubmit="return confirm('Etes-vous sûtr de vouloir supprimer la sortie?');">
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sorty.noSortie) }}">
<button class="button warning mif-bin"></button>
</form>
