
 <div data-aos="fade-left">
    <div class="container  align-items-center py 5 mb-5 mt-5">
       <div class="row text-center mx-15">
           <div class="col-md-8 mx-auto">
               <div class="card text-white">
                   <div class="card-body d-flex flex-column">
                        {{ form_start(form) }}
                             {{ form_widget(form) }}
                                <button class="tool-button primary rounded"><span class="mif-floppy-disk"></span>{{ button_label|default('Enregistrer') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
