{% extends 'layouts/base.html.twig' %}

{% block title %}Annuler sortie
{% endblock %}

{% block body %}

        <tbody>
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Annuler une sortie</h1>
                </div>
                <div class="card-content p-2 text-center">
                    {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
    {% endblock %}
