{% extends 'layouts/base.html.twig' %}

{% block title %}New Sorties{% endblock %}

{% block body %}
    <h1>Create new Sorties</h1>

    {{ include('sortie/_form.html.twig') }}
    {# <button class="button primary mif-floppy-disk">{{ button_label|default(' ')}}</button> #}
    <a href="{{ path('app_sortie_index') }}">back to list</a>
{% endblock %}
