{% extends 'layouts/base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ include('sortie/_form.html.twig') }}
    
{% endblock %}
