{% extends 'layouts/base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ include('sortie/_form.html.twig') }}
    {# <button class="button primary mif-floppy-disk">{{ button_label|default(' ')}}</button> #}
    {# <a href="{{ path('app_sortie_index') }}">Retour à la liste</a> #}
{% endblock %}
