<form method="post" action="{{ path('app_inscriptions_delete', {'sortiesNoSortie': inscription.sortiesNoSortie}) }}" onsubmit="return confirm('Etes vous sur de vouloir vous désister ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription.sortiesNoSortie) }}">
    <button class="btn">Delete</button>
</form>
