{% extends 'layouts/base.html.twig' %}

{% block title %}New Participants{% endblock %}

{% block body %}
    <h1>Créer un nouveau Participant</h1>

    {{ include('participants/_form.html.twig') }}
    
{% endblock %}
